header {
    text-align: center;
    color: rgb(51, 0, 111);
    font-size: 70px;
}

body {
    text-align: center;
    background-color: #e7d8ea;
    font-family: Tahoma, sans-serif;
}

nav {
    width: 80%;
    margin: 0 auto;
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    text-decoration: none;
    display: block;
    padding: 5px;
    text-align: center;
}

.navbar li {
    float: inline-start;
}

#dq_box {
    position: relative;
    border: 10px solid white;
    background-color: white;
    border-radius: 15px;
    width: 350px;
    height: 145px;
    margin: auto;
}

#points_box1 {
    position: absolute;
    top: 0;
    right: 0;
}

#start_box1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 35px;
    margin-top: 10px;
    background-color: rgb(51, 0, 111);
    font-size: 1.2em;
    border-radius: 30px;
    border: solid rgb(51, 0, 111);
}

#change {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 35px;
    margin-top: 10px;
    background-color: rgb(51, 0, 111);
    font-size: 1.2em;
    border-radius: 30px;
    border: solid rgb(51, 0, 111);
}

#questbutton {
    background-color: rgb(51, 0, 111);
    color: rgb(201, 175, 118);
    width: 150px;
    height: 35px;
    border-radius: 30px;

}

#points_box {
    color: rgb(201, 175, 118);
    width: 150px;
    height: 40px;
}

#timed_box1 {
    position: relative;
    border: 10px solid white;
    background-color: white;
    border-radius: 15px;
    width: 350px;
    height: 162px;
    margin: auto;
}

#timedbutton {
    background-color: rgb(51, 0, 111);
    color: rgb(201, 175, 118);
    width: 150px;
    height: 35px;
    border-radius: 30px;
}

#comingsoonbox {
    position: relative;
    border: 10px solid rgb(156, 127, 190);
    background-color: rgb(156, 127, 190);
    color: rgb(59, 38, 82);
    border-radius: 15px;
    width: 350px;
    height: 120px;
    margin: auto;
    margin-top: 15px;
}